/* Adjust the following variables */

body {
	/* Font sizes */
	--font-text-size: 16px;
	--font-small:     13px;
	--font-smaller:   11px;
	--font-smallest:  10px;
	--font-inputs:    13px;

	/* Font weights */
	--normal-weight:  400;
	--bold-weight:    600;
	--link-weight:    inherit;

	/* Headings */
	--page-title-weight: 500;
	--page-title-line-height: 1.1;

	--h1:             1.25em;
	--h2:             1.1em;
	--h3:             1.05em;
	--h4:             1em;
	--h5:             0.85em;
	--h6:             0.85em;

	--h1-weight:      600;
	--h2-weight:      600;
	--h3-weight:      600;
	--h4-weight:      500;
	--h5-weight:      500;
	--h6-weight:      400;

	--h1-variant:     normal;
	--h2-variant:     normal;
	--h3-variant:     normal;
	--h4-variant:     normal;
	--h5-variant:     small-caps;
	--h6-variant:     small-caps;

	--h1-style:       normal;
	--h2-style:       normal;
	--h3-style:       normal;
	--h4-style:       normal;
	--h5-style:       normal;
	--h6-style:       normal;

	/* Cards */
	--cards-min-width:    180px;
	--cards-max-width:    1fr;
	--cards-mobile-width: 180px;
	--cards-image-height: 400px;
	--cards-padding:      1.2em;
	--cards-image-fit:    contain;
	--cards-background:   transparent;
	--cards-border-width: 1px;
	--cards-aspect-ratio: auto;
	--cards-columns:      repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));

	/* Images */
	--image-radius:   8px;

	--image-grid-fit: cover;
	--image-grid-background: transparent;
	--img-grid-gap:   0.5rem;

	/* Line widths */

	--icon-muted:     0.5;
	--border-width:   1px;

	--folding-offset: 16px;
	--nested-padding: 30px;    /* Quotes and transclusions */

	--list-padding:   2em;     /* List padding */
	--list-spacing:   0.075em; /* Space between list items */
}

/* Mobile */
@media (max-width:400pt) {
	body {
		--cards-min-width:var(--cards-mobile-width);
		--img-grid-gap: 0.25rem;
	}
}