/* Notion color scheme */
.theme-light {
	--accent-h:197;
	--accent-s:71%;
	--accent-l:52%;

	--bg2:#f7f6f4;
	--bg3:#e8e7e4;

	--ui1:#ededec;
	--ui2:#dbdbda;
	--ui3:#aaa9a5;

	--tx1:#37352f;
	--tx2:#72706c;
	--tx3:#aaa9a5;

	--ax1:#37352f;
	--ax2:#000;
	--ax3:#2eaadc;

	--hl1:#d9eff8;
	--link-weight:500;
}
.theme-dark {
	--accent-h:197;
	--accent-s:71%;
	--accent-l:52%;

	--bg1:#2f3437;
	--bg2:#373c3f;
	--bg3:#4b5053;

	--ui1:#3e4245;
	--ui2:#585d5f;
	--ui3:#585d5f;

	--tx1:#ebebeb;
	--tx2:#909295;
	--tx3:#585d5f;

	--ax1:#ebebeb;
	--ax2:#fff;
	--ax3:#2eaadc;

	--hl1:#314d58;
	--link-weight:500;
}