/* Solarized */

.theme-dark,
.theme-light {
  --red:#dc322f;
  --yellow:#b58900;
  --green:#859900;
  --orange:#cb4b16;
  --purple:#6c71c4;
  --pink:#d33682;
  --cyan:#2aa198;
  --blue:#268bd2;
}

.theme-light {
  --bg1:#fdf6e3;
  --bg2:#eee8d5;
  --bg3:rgba(0,0,0,0.062);

  --ui1:#e9e1c8;
  --ui2:#d0cab8;
  --ui3:#d0cab8;

  --tx1:#073642;
  --tx2:#586e75;
  --tx3:#ABB2AC;

  --ax1:#268bd2;

  --hl1:#eee8d5;
}

.theme-dark {
  --bg1:#002b36;
  --bg2:#073642;
  --bg3:rgba(255,255,255,0.062);

  --ui1:#19414B;
  --ui2:#274850;
  --ui3:#31535B;

  --tx1:#93a1a1;
  --tx2:#657b83;
  --tx3:#31535B;

  --ax1:#268bd2;
  --ax3:#268bd2;

  --hl1:#073642;
}