/* Publish headings */
.page-header {
	font-weight:500;
  letter-spacing:-0.02em;
}
.publish-article-heading:hover .clickable-icon {
  display: inline-flex;
  vertical-align: bottom;}

.markdown-preview-view h1 {
  margin:1.5em 0 0.5em;
  font-variant:var(--h1-variant);
  letter-spacing:-0.01em;
  line-height:1.3;
  font-size:var(--h1);
  color:var(--h1-color);
  font-weight:var(--h1-weight);
  font-style:var(--h1-style);
}
.h1:not(.publish-article-heading) {
  border-bottom:1px solid var(--ui1);
  padding-bottom:0.5em;
}
.markdown-preview-view h2 {
	margin:1.5em 0 0.5em;
  font-variant:var(--h2-variant);
  letter-spacing:-0.02em;
  line-height:1.3;
  font-size:var(--h2);
  color:var(--h2-color);
  font-weight:var(--h2-weight);
  font-style:var(--h2-style);
}
.markdown-preview-view h3 {
  font-variant:var(--h3-variant);
  letter-spacing:-0em;
  line-height:1.4;
  font-size:var(--h3);
  color:var(--h3-color);
  font-weight:var(--h3-weight);
  font-style:var(--h3-style);
}
.markdown-preview-view h4 {
  font-variant:var(--h4-variant);
  letter-spacing:0.02em;
  font-size:var(--h4);
  color:var(--h4-color);
  font-weight:var(--h4-weight);
  font-style:var(--h4-style);
}
.markdown-preview-view h5 {
  font-variant:var(--h5-variant);
  letter-spacing:0.02em;
  font-size:var(--h5);
  color:var(--h5-color);
  font-weight:var(--h5-weight);
  font-style:var(--h5-style);
}
.markdown-preview-view h6 {
  font-variant:var(--h6-variant);
  letter-spacing:0.02em;
  font-size:var(--h6);
  color:var(--h6-color);
  font-weight:var(--h6-weight);
  font-style:var(--h6-style);
}