/* Publish headings */
.page-header {
	font-weight:500;
  letter-spacing:-0.02em;
  line-height:1.1;
}
.publish-article-heading:hover .clickable-icon {
  display: inline-flex;
  vertical-align: bottom;}