/* Helpers */
.alt-title .page-header,
.hide-title .page-header {
  display:none;
}
.alt-title.markdown-preview-view div:nth-child(4) h1 {
  font-weight:500 !important;
  font-size:36px !important;
  letter-spacing:-0.02em;
  margin-top:0;
}
.table-col-1-150.markdown-preview-view td:first-child {
  width:150px;
}
.table-col-1-200.markdown-preview-view td:first-child {
  width:200px;
}
.table-full table {
  width:100%;
}