/* Image filters */

img[src$="#outline"] {
  border:1px solid var(--ui1);
}

img[src$="#interface"] {
  border:1px solid var(--ui1);
  box-shadow:
  0px 0.5px 0.9px rgba(0, 0, 0, 0.021),
  0px 1.3px 2.5px rgba(0, 0, 0, 0.03),
  0px 3px 6px rgba(0, 0, 0, 0.039),
  0px 10px 20px rgba(0, 0, 0, 0.06);
  margin-top:10px;
  margin-bottom:15px;
  border-radius:var(--radius-m);
}

/* Invert  */
.theme-dark img[src$="#invert"] {
  filter:invert(1) hue-rotate(180deg);
  mix-blend-mode:screen;
}
.theme-light img[src$="#invertW"] {
  filter:invert(1) hue-rotate(180deg);
}

/* Circle */
img[src$="#circle"] {
  border-radius:50%;
  aspect-ratio:1/1;
}