/* Publish */

.publish-article-heading:hover .clickable-icon {
  display: inline-flex;
  vertical-align: bottom;}

.published-section-header {
  font-size:12px;
  color:var(--text-muted);
}


/* Helpers */
.hide-title .page-header {
  display:none;
}

/* Code */
.markdown-preview-view code {

}

/* Mobile */
@media screen and (max-width: 750px) {
  .published-container .markdown-preview-view {
    padding:20px 0;
  }
}
